@page
@model subjectPicker.Views.Main.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    Hello From View!
    <a href="/say/osmanbeyyouarefantastic">Say it!</a>
</div>
</body>
</html>